{% macro paymentVerificationFailedContent(data) %}
<h1>Incorrect details</h1>

<div class="panel text-align-center">
    <h2 class="panel__title">Sorry, <br> something went wrong</h2>
</div>

<p class="govuk-body">You may have entered your card details incorrectly, so payment has not been taken. Please check your card details and try again.</p>

<p class="govuk-body">If you have entered your card details correctly, please contact your bank.</p>

<p class="govuk-body">Return to the <a href="/">Book a room homepage.</a>
    </p>
{% endmacro %}