{% macro paymentSuccessContent(data) %}
<h1>Booking confirmation.</h1>

<div class="panel text-align-center">
    <h2 class="panel__title">Thank you.</h2>
    <h2 class="panel__title">Your booking is now complete.</h2>

    <p class="panel__text">
        Your reference number is
    </p>
</div>

<h3>Booking summary</h3>
<div>
    Location: <br>
    Date: <br>
    Time: 
</div>



<h3>Payment summary</h3>
<div>
    Room cost: <br>
    Total: 
</div>

<p>If you would like to amend or cancel your booking, or have any queries relating to your
booking, please email <a href="mailto:library.roombooking@hackney.gov.uk">library.roombooking@hackney.gov.uk</a></p>

<p>Alternatively, for more services visit the <a href="https://hackney.gov.uk">Hackney Council homepage</a></p>

<p><a href="#">What did you think of this service?</a> It only takes 30 seconds</p>
{% endmacro %}