{% macro paymentCancelledContent(data) %}
<h1 class="govuk-heading-xl">Payment cancelled</h1>

<div class="panel">
    <h2 class="panel__title">You have cancelled your payment</h2>
</div>

<p class="govuk-body">Unfortunately without payment, your booking cannot be completed.</p>

<p class="govuk-body">If you would like to rebook a room, please return to the <a href="/">Book a room homepage.</a></p>
{% endmacro %}