{% macro paymentFailedContent(data) %}
<h1 class="govuk-heading-xl">Payment failed</h1>
<h2 class="govuk-heading-l">Sorry, we can’t process your payment</h2>

<p class="govuk-body">There is a problem with your transaction and we are unable to process your payment. Please contact your bank.</p>

<p class="govuk-body">Try again to make a booking once the issue has been resolved, alternatively try again using a different card.
</p>
<p class="govuk-body">Return to the <a href="/">Book a room homepage.</a>
    </p>
{% endmacro %}