{% macro paymentVerificationFailedContent(data) %}
<h1 class="lbh-heading-h1">Incorrect details</h1>

<div class="panel text-align-center">
    <h2 class="lbh-heading-h2 panel__title">Sorry, <br> something went wrong</h2>
</div>

<p class="lbh-body-m">You may have entered your card details incorrectly, so payment has not been taken. Please check your card details and try again.</p>

<p class="lbh-body-m">If you have entered your card details correctly, please contact your bank.</p>

<p class="lbh-body-m">Return to the <a class="lbh-link" href="/">Book a room homepage.</a>
    </p>
{% endmacro %}