{% macro paymentFailedContent(data) %}
<h1 class="lbh-heading-h1">Unable to process payment</h1>

<div class="panel text-align-center">
    <h2 class="panel__title">Sorry, <br> we can’t process your payment</h2>
</div>

<p class="lbh-body-m">There is a problem with your transaction and we are unable to process your payment. Please contact your bank.</p>

<p class="lbh-body-m">Try again to make a booking once the issue has been resolved, or try again using a different card.
</p>

<a href="{{data.paymentlink}}" role="button" draggable="false" class="govuk-button lbh-button" data-module="govuk-button">
    Try again
</a>

<p>Alternatively, for more services visit the <a class="lbh-link" href="https://hackney.gov.uk">Hackney Council homepage</a></p>

{% endmacro %}