{% macro roomCard(data) %}
<div class="room-card">
    <div class="room-card__image-container">
        <img src="{{ data.acf.image_gallery[0].sizes.thumbnail }}" alt="{{ data.acf.image_gallery[0].caption }}">
    </div>
    <div class="room-card__meta-container">
       <div class="room-meta__room-name lbh-heading-h5">
           {{ data.title.rendered }}
       </div> 
       <div class="room-meta__content">
        {% if data.acf.capacity | length %}
        <div class="lbh-heading-h5">Capacity</div>
        <ul class="lbh-list + lbh-list--bullet mt0">
            {% for item in data.acf.capacity %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if data.acf.prices | length %}
        <div class="lbh-heading-h5">Prices</div>
        <ul class="lbh-list lbh-list--bullet mt0">
            {% for item in data.acf.prices %}
                <li>{{ item }}</li>
            {% endfor %}

            {% if data.acf.additional_resources | length %}
                {% for item in data.acf.additional_resources %}
                    <li>£{{ item.resource_fee }} {{ item.resource_name }}</li>
                {% endfor %}
            {% endif %}
        </ul>
        {% endif %}
            
       </div>
   
         <a href="/room/{{ data.slug }}" role="button" draggable="false" class="govuk-button lbh-button" data-module="govuk-button">
           View meeting room
         </a>
    </div>
</div>
{% endmacro %}

