{% extends "./layouts/default.njk" %}
{% from "lbh-button/macro.njk" import lbhButton %}

{% block content %}
    <h1 class="lbh-heading-h1">Page not found</h1>
    <p class="lbh-body-m">If you typed the web address, check it is correct.</p>
    <p class="lbh-body-m">If you pasted the web address, check you copied the entire address.</p>
    <p class="lbh-body-m">
        Please contact <a class="lbh-link" href="mailto:library.roombooking@hackney.gov.uk">library.roombooking@hackney.gov.uk</a> if you would like to book a room. 
    </p>

    {{ lbhButton({
        "text": "Hackney Council homepage",
        "href": "https://hackney.gov.uk/"
    }) }}

{% endblock %}