{% extends "./layouts/default.njk" %}

{% block content %}
    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    <p>Try again later.</p>
    <p>Please contact [insert link here] if you would like to book a room, or form more general information visit the <a href="hackney.gov.uk">Hackney homepage.</a>. 
    </p>
{% endblock %}
