{% extends "./layouts/default.njk" %}

{% block content %}
    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service.</h1>
    <p class="govuk-body">Unfortunately we are currently unable to process room bookings. </p>
    <p class="govuk-body">Please try again later.</p>
    <p class="govuk-body">Alternatively you can contact the library room booking team by emailing <a href="mailto:library.roombooking@hackney.gov.uk">library.roombooking@hackney.gov.uk</a>, 
    or for more general information visit the <a href="https://hackney.gov.uk/">Hackney homepage.</a>.
    </p>
{% endblock %}
