{% extends "./layouts/default.njk" %}

{% from "partials/confirmation__payment-success.njk" import paymentSuccessContent %}
{% from "partials/confirmation__payment-cancelled.njk" import paymentCancelledContent %}
{% from "partials/confirmation__payment-failed.njk" import paymentFailedContent %}
{% from "partials/confirmation__payment-verification-failed.njk" import paymentVerificationFailedContent %}

{% block content %}
    {% if isPaymentSuccess %}
        {{ paymentSuccessContent(data) }}
    {% else %}
        {% if isPaymentCancelled %}
            {{ paymentCancelledContent(data) }}
        {% elseif isPaymentFailed %}
            {{ paymentFailedContent(data) }}
        {% elseif isVerificationFailed %}
            {{ paymentVerificationFailedContent(data) }}
        {% else %}
            <h1>There was an error with your payment</h1>
        {% endif %}
    {% endif %}
{% endblock %}