{% extends "./layouts/default.html" %}

{% from "lbh-button/macro.njk" import lbhButton %}

{% block content %}
 <h1>Meeting rooms in Hackney libraries</h1>
 <p class="lbh-body-s">We have affordable meting rooms for hire in all eight Hackney libraries which are located in Dalston, Shoredith, Stoke Newignton, Homerton, Clapton, Woodberry Down, Stamford Hill and net to Hackney Town Hall.</p>
 <p class="lbh-body-s">Whether you're looking for a small meeting room to hold a workshop, a medium sized space to host a trustee meeting, or a large gallery room to hold an exhibition, we've got you covered.</p>

 <h2>Available meeting rooms in Hackney libraries</h2>

 {% set roomsJSON = 
    [
        {
            roomName: "Stoke Newington Library Meeting Room"
        },
         {
            roomName: "Stoke Newington Library Gallery Room"
        },
         {
            roomName: "Stamford Hill Library Hall"
        },
         {
            roomName: "Homerton Library Piano Room"
        },
         {
            roomName: "Homerton Library Meeting Room"
        },
         {
            roomName: "Shoreditch Library ICT suite"
        },
         {
            roomName: "Shoreditch Library Small meeting room"
        },
         {
            roomName: "Shoreditch Library Meeting Space"
        },
         {
            roomName: "Clapton Library Meeting Room"
        },
         {
            roomName: "Dalston Library CLR Education Room"
        }
    ]%}

 {% for room in roomsJSON %}
 <div class="room-card">
     <div class="room-card__image-container">
         <img src="https://via.placeholder.com/300x230" alt="">
     </div>
     <div class="room-card__meta-container">
        <div class="room-meta__room-name lbh-heading-h5">
            {{ room.roomName }}
        </div> 
        <div class="room-meta__content">
            <h5>Capacity</h5>
                <ul class="lbh-list + lbh-list--bullet">
                    <li>35 standing</li>
                    <li>20 sitting</li>
                </ul>
            
                <h5>Prices</h5>
                <ul class="lbh-list + lbh-list--bullet">
                    <li>£20 per hour during library opening hours</li>
                    <li>£15 per hour for projector hire</li>
                </ul>
        </div>
    
          <a href="/room/{{ room.roomName }}" role="button" draggable="false" class="govuk-button  lbh-button" data-module="govuk-button">
            View meeting room
          </a>
     </div>
 </div>
 {% endfor %}

{% endblock %}