{% extends "./layouts/default.html" %}

{% block content %}
 <h1>Meeting rooms in Hackney libraries</h1>
 <p class="lbh-body-s">We have affordable meting rooms for hire in all eight Hackney libraries which are located in Dalston, Shoredith, Stoke Newignton, Homerton, Clapton, Woodberry Down, Stamford Hill and net to Hackney Town Hall.</p>
 <p class="lbh-body-s">Whether you're looking for a small meeting room to hold a workshop, a medium sized space to host a trustee meeting, or a large gallery room to hold an exhibition, we've got you covered.</p>

 <h2>Available meeting rooms in Hackney libraries</h2>

{% endblock %}