{% extends "./layouts/default.njk" %}

{% block content %}
    {% if success %}
        {% include "partials/payment-success.njk" %}
    {% else %}
        {% include "partials/payment-error.njk" %}
    {% endif %}

   
    <p><a href="#">What did you think of this service?</a> It only takes 30 seconds</p>

    <a href="#" role="button" draggable="false" class="govuk-button  lbh-button" data-module="govuk-button">
        Hackney Council homepage
    </a>
{% endblock %}