{% extends "./layouts/default.njk" %}
{% from "lbh-button/macro.njk" import lbhButton %}
{% from "lbh-date-input/macro.njk" import lbhDateInput %}

{% block content %}
    <h1>Book {{ roomData.title.rendered }}</h1>

    <section class="slider js-slider">
      {% for image in roomData.acf.image_gallery %}
        <figure class="slide-image-figure">
          <img src="{{ image.sizes.large }}" alt="{{ image.alt }}">
          <figcaption class="slide-image-caption">{{ image.caption }}</figcaption>
        </figure>
      {% endfor %}
    </section>
    
    {# Room Content #}
    {{ roomData.content.rendered | safe }}

    {# Check Availability #}
    <section>
      <hr>

      <div class="lbh-heading-h2">Check room availability</div>
      
      <div class="lbh-heading-h4">Enter the date</div>

      {{ lbhDateInput({
          "id": "bookingdate",
          "namePrefix": "bookingdate",
          "fieldset": {
            "legend": {
              "text": "Date you'd like to book this room"
            }
          },
          "items": [
            {
              "name": "day",
              "classes": "govuk-input--width-2"
            },
            {
              "name": "month",
              "classes": "govuk-input--width-2"
            },
            {
              "name": "year",
              "classes": "govuk-input--width-4"
            }
          ]
        }) }}

      <a href="#" role="button" draggable="false" class="govuk-button  lbh-button" data-module="govuk-button">
          Show available times
      </a>
    </section/>

    
    {# Page Footer Text #}
    <section>
      <hr>

      {{ roomData.acf.page_footer_text | safe }}
    </section>
 
    {% endblock %}