.panel {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    color: lbh-colour("lbh-text-white");
    background: lbh-colour("lbh-a01");
    padding: 30px;
    margin-bottom: 30px;

    &__title {
        font-weight: 700;
        color: lbh-colour("lbh-text-white");
    }
}
