$lbh-dark-green: #00664f;
$lbh-middle-green: #00b341;
$lbh-light-green: #84bd00;
$lbh-primary-disabled: #7fb2a7;
$lbh-link-hover-button: #00513f;
$lbh-link-blue: #025ea6;
$lbh-link-hover: #0085ca;
$lbh-link-visited: #8031a7;
$lbh-link-active: #2b8cc4;
$lbh-black: #0b0c0c;
$lbh-text: $lbh-black;
$lbh-white: #ffffff;
$lbh-secondary-disabled: #dee0e2;
$lbh-secondary-hover: #dee0e2;
$lbh-primary-inner-shadow: #003d2f;
$lbh-border: #bfc1c3;
$lbh-focus: #ffc845;
$lbh-secondary-text: #525a5b;
$lbh-panel-border: #a4d65e;
$lbh-background-alt: #f2efed;
$lbh-social-border: #e1e2e4;
$lbh-caption-background: #f8f8f8;

$facebook: #4367b2;
$youtube: #ff0000;
$twitter: #1da1f3;
